*
{
    
    margin:0px;
    padding:0px;
}
/* set position fixed*/
.navbarposition
{
   
    width:100%;
    position:fixed;
    top:0px;
    z-index: 1;
}
/*  logo and pelement diaplay in one line so flex */
.navbar
{
    color:white;
   
    width:100%;
    display:flex;
    background-color:#111;
    
    height:80px;
  
    justify-content: space-between;
   
} 
.navbarp{
    color:brown;
    margin-right:250px;

}
   .logo {
    padding-top:10px;
    padding-bottom:10px;
    margin-left:20px;

    height: 60px;
    width:60px;
    align-items: flex-start;

}
